{
    "clientScripts" : [

    ],
    "serverScripts" : [],

    "sectors" : {
        "arlm_witv_dangelv1" : {
            "chunkSize" : 50,
            "xyCoordRange" : [-1000000000, 1000000000],
            "zCoordRange" : [-100000000, 100000000],
            "saveTemplate" : {
                "worldId" : "<worldType>:<worldUuid>",
                "position" : "<position>",
                "icon" : "/assetmissing.png"
            },


            "constantSave" : {
                "archelle" : {
                    "worldId" : "instanceworld:arlm_witv_archelle",
                    "position" : [-2350, 100],
                    "icon" : "/assetmissing.png"
                }
            } 
        },
        "starbound_sectorX" : {
            "chunkSize" : 50,
            "maxSystemChunkSearches" : 100,
            "maxWorldSearches" : 500,
            "xyCoordRange" : [-1000000000, 1000000000],
            "zCoordRange" : [-100000000, 100000000],
            "insert More Parameters Depending on what you use" : true
        }
    }
}